<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="../../public/css/style.css">

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src = "/js/admin.js"></script>

    <title>Super Awesome Chatroom</title>
  </head>
  <body>
    <h1>Super Awesome Chatroom</h1>
    <div>
      <div class="inlineBlock"><span>Your name:
          <input type="text" value="Anonymous" id="name"></span><br>
        <form id="messageForm">
          <textarea rows="4" cols="50" placeholder="Share something!" maxlength="200" id="outgoingMessage"></textarea>
          <input type="button" value="Share" disabled id="send">
        </form>
      </div>
      <div class="inlineBlock topAligned"><b>Participants</b><br>
        <div id="participants"></div>
      </div>
    </div>
    <div id="messages"></div>
  </body>
</html>