<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script
          src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src = "/js/admin.js"></script>

    <title>Chatroom</title>
  </head>
  <body>
    <div class="container-fluid app" style="max-width:600px;">
    <div class="row app-one">
      <div class="col-sm-12 conversation">
        <div class="row heading">
          <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
            <div class="heading-avatar-icon">
              <img src="https://bootdey.com/img/Content/avatar/avatar6.png">
            </div>
          </div>
          <div class="col-sm-8 col-xs-7 heading-name">
            <a class="heading-name-meta" id="">John Doe
            </a>
            <span class="heading-online">Online</span>
          </div>
          <div class="col-sm-1 col-xs-1  heading-dot pull-right">
            <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
          </div>
        </div>

        <div class="row message" id="conversation">
          <div class="row message-previous">
            <div class="col-sm-12 previous">
              <a id="">
              Message you send to this chat are secured with end-to-end encryption
              </a>
            </div>
          </div>
        </div>

        <div class="row reply">
          <form id="messageForm">
            <div class="col-sm-1 col-xs-1 reply-emojis">
              <i class="fa fa-smile-o fa-2x"></i>
            </div>
            <div class="col-sm-10 col-xs-10 reply-main">
              <textarea rows="1" cols="50" placeholder="Share something!" maxlength="200" id="outgoingMessage"></textarea>
            </div>
            <div class="col-sm-1 col-xs-1 reply-send mx-auto">
              <i class="fa fa-paper-plane fa-2x" aria-hidden="true" id="send"></i>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>

      <!-- <div class="inlineBlock"><span>Your name:
          <input type="text" value="Anonymous" id="name"></span><br>
        <form id="messageForm">
          <textarea rows="4" cols="50" placeholder="Share something!" maxlength="200" id="outgoingMessage"></textarea>
          <input type="button" value="Share" disabled id="send">
        </form>
      </div>
      <div class="inlineBlock topAligned"><b>Participants</b><br>
        <div id="participants"></div>
      </div>
    </div>
    <div id="messages"></div> -->
  </body>
</html>
